:root{
    --primary-color: rgb(78, 69, 199);
    --secondary-color: rgb(64, 247, 247);
}

body{
    background-color: var(--primary-color);
    background-size: cover;
    max-width: 100%;
    color: var(--secondary-color);
    display: block;
    margin: auto;
}

h1{
    text-align: center;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.container{
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
}

input, label{
    display: block;
    padding: 1rem;
}

label{
    padding-left: 0;
}

input{
    margin-bottom: 0.5rem ;
    width: 100%;
}



#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--secondary-color);
    border-color: yellow;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

/* footers */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}

.footer-header {
    color: var(--secondary-color);
    font-size: large;
    font-weight: bold;
}

.footer .link {
    color: var(--secondary-color);
}

.footer ul {
    padding-inline-start: 0px;
}


.fa-github:link,
.fa-github:hover {
    color: #495057;
}

.fa-twitter:link,
.fa-twitter:hover {
    color: #1da1f2
}

.fa-linkedin-in:link,
.fa-linkedin-in:hover {
    color: #0a66c2;
}

.fa-instagram:link,
.fa-instagram:hover {
    color: #c32aa3;
}

.fa-snapchat-ghost:link,
.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.footer-icons{
    transition:color 0.2s;
    font-size: 1.5rem;
    padding-top: 1rem;
}


.snap-code {
    height: 200px;
    width: 200px;
    align-self: center;
    padding: 3rem;
}